*{
  margin:0;
  padding: 0
}

body{
  background: #1d1d1d;
  color: white
}

:root{
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app{
  padding: 0 2rem;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 2px solid gray;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 5rem
}

#todoForm{
  display: flex;
}

#todoInput{
  padding: .5rem;

}

#addTodo{
  padding: .5rem .9rem
}

#todo{
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#todoItem{
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem
}

button{
  padding: .5rem .9rem
}

#todoEdit{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}